<div class="flex flex-column max-width popup__list full-width">
  <div class="popup__group flex align-center full-width gap-half overflow-ellipsis">
    <%= link_to cards_path(assignee_ids: [Current.user.id]), class: "btn popup__new popup__item", style: "view-transition-name: new-collection" do %>
      <%= icon_tag "filter" %>
      <span class="overflow-ellipsis">Assigned to me</span>
      <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
    <% end %>
  </div>

  <div class="popup__group flex align-center full-width gap-half overflow-ellipsis">
    <%= link_to cards_path(creator_ids: [Current.user.id]), class: "btn popup__new popup__item", style: "view-transition-name: new-collection" do %>
      <%= icon_tag "filter" %>
      <span class="overflow-ellipsis">Reported by me</span>
      <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
    <% end %>
  </div>

  <% @filters.each do |filter| %>
    <div class="popup__group flex align-center full-width gap-half overflow-ellipsis">
      <%= link_to cards_path(**filter.as_params), class: "btn popup__new popup__item", style: "view-transition-name: new-collection" do %>
        <%= icon_tag "filter" %>
        <span class="overflow-ellipsis"><%= filter.summary %></span>
        <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
      <% end %>
    </div>
  <% end %>
</div>